@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Slab&display=swap');
@font-face{
    font-family:"helvetica";
    src:url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("woff"),
    url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("opentype"),
    url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("truetype");
}

body{
    margin: 5rem 10rem;
    padding: 0 5em;
    font-family: "helvetica";
}

  

h1{
    font-weight: 700;
    font-size: 2rem;
    margin: 20px 0;
}

h2{

    font-size: 1.3rem;
    margin: 10px 0;
}


h3.author{
    font-weight: 400;
    margin: 10px 0;
    font-size: .9rem;
    color: slategray;
}

h3.time{
    font-size: .9rem;
    margin: 10px 0;
    padding-right: 2rem;
    text-align: right;
}

h3.post{
    font-size: .9rem;
    margin: 10px 0;

}

p{
    margin: 0%;
    font-size: .9rem;
    color: slategray;
}


#exp-1{
    display: grid;
    grid-template-columns: .5fr 1fr;
    margin: 20px 0;
}

.link{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 20px 0;
}

#featured{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px 0;
}

@media only screen and (max-width: 768px) {
    body {
      margin: 20px;
    }
    h1{
        font-size: 1.5rem;
    }
    h2{
        font-size:1rem;
    }
    h3{
        font-size: .6rem;
    }
    p{
        font-size: .8rem;
    }
    #exp-1{
        display: grid;
        grid-template-columns: 0 1fr;
        margin: 20px 0;
    }
    .time{
        display: none;
    }

    .link{
        display: block;
    }

    #featured{
        display: block;
    }

    .card{
        margin: 20px 0;
    }
  }