@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Slab&display=swap');
@font-face{
    font-family:"helvetica";
    src:url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("woff"),
    url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("opentype"),
    url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("truetype");
}

body{
    margin: 5rem 20rem;
    font-family: "helvetica";
}

h1{
    font-weight: 700;
    font-size: 2rem;
    margin: 20px 0;
}

h2{

    font-size: 1.3rem;

    margin: 10px 0;
}


h3.author{
    font-weight: 400;
    margin: 10px 0;
    font-size: .9rem;
}

h3.time{
    font-size: .9rem;
    margin: 10px 0;
}

h3.post{
    font-size: .9rem;
    margin: 10px 0;

}

p{
    margin: 0%;
    font-size: .9rem;
}


#exp-1{
    display: grid;
    grid-template-columns: .4fr 1fr;
    margin: 20px 0;
}