@import url('https://fonts.cdnfonts.com/css/archia');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700;900&display=swap');

/* Storm: #0c2431 | Teal: #194a50 | Sunburst: #d37556 | Sand: #d8a28c | Cloud: #e1dad2 */

body{

    font-family: 'Outfit';
}

.footer{
    font-family: "Space Grotesk";
    padding: 3em;
}

h1{
    color: #0c2431;
    font-family: 'Space Grotesk';
    font-weight: 700;
    font-size: 3em;
}
h2{
    font-family: 'Space Grotesk';
    font-size: 1.5em;
    font-weight: 400;
}

.contact_links{
    margin-bottom: 10px;
}

.phone_menu{
    /* display: none; */
    font-family: "Space Grotesk";
    padding: 0 40px 0 0;
    text-decoration: underline;
}
.content h4{
    font-weight: 400;
}

.is-rounded{
    width: 80%;
    border-radius: 5%;
}

#bio{
    margin: 5em 7em;
    padding: 0 10em;
}

#update{
    margin: 10px;
    text-align: center;
}

#side-panel{
    text-align: left;
}


/* publication page */

#pub{
    text-align: center;
    padding-bottom: 2em;
}
#time{
    text-align: left;
}


/* Work experience page */
#jobs{
    padding: 0 5em;
}
#job-bio{
    margin: 5em 15em;
}
.line{
    border-bottom: 1px solid #d8a28c;
    opacity: 50%;
    margin-bottom: 20px;
}

/* blogs */
#blog_error{
    text-align: center;
    padding: 5em 20em;
}



@media only screen and (min-width: 768px) {
    /* CSS rules for large screens */
    .phone_menu {
      display: none;
    }
  }

  /* CSS rule for mobile */
@media screen and (max-width: 768px) {
    #bio{
        margin: 5em 1em;
        padding: 0 1em;
        text-align: left;
    }
    #side-panel{
        text-align: center;
    }
    .is-rounded{
        width: 50%;
        border-radius: 50%;
    }
    .contact_links{
        display: none;
    }
    #job-bio {
      margin: 5em 1em;
    }
    #blog_error{
        text-align: center;
        padding: 5em;
    }
}