@import url('https://fonts.cdnfonts.com/css/archia');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700;900&display=swap');

/* Storm: #0c2431 | Teal: #194a50 | Sunburst: #d37556 | Sand: #d8a28c | Cloud: #e1dad2 */

body{

    font-family: 'Outfit';
}

h1{
    color: #0c2431;
    font-family: 'Outfit';
    font-weight: 700;
    font-size: 3em;
}
h2{
    font-family: 'Outfit';
    font-size: 1.5em;
    font-weight: 600;
}
.content h4{
    font-weight: 400;
}

.is-rounded{
    width: 50%;
    border-radius: 50%;
}

#bio{
    margin: 5em 3em;
}

#update{
    margin: 10px;
    text-align: center;
}

#side-panel{
    text-align: center;
}


/* publication page */

#pub{
    text-align: center;
    padding-bottom: 2em;
}
#time{
    text-align: left;
}
